table, th, td {
  border: 2px solid rgb(232, 231, 231);
  border-collapse: collapse;
  table-layout:fixed;
  border-radius: 5px;
}


td, th {
  padding: 10px 0;
  transition: .5s background-color;
}

table {
  position: sticky;
  top: calc(20vh - 50px);
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px rgb(232, 231, 231); /* this draws the table border  */ 
}

th {
  background-color: black;
  color: white;
  line-height: 40px;
}

input:not(:disabled) {
  background-color: grey;
}

div:has(div:has(input:disabled)) {
  background: red;
}

input:disabled {
  cursor: not-allowed;
}

pre {
  font-size: 8pt;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  min-height: 50px;
  white-space: break-spaces;
}

.tableContainer {
  width: 100%;
}