table, th, td {
  border: 2px solid #666;
  border-collapse: collapse;
  table-layout:fixed;
}


td, th {
  padding: 10px 0;
  border-radius: 5px;
  transition: .5s background-color;
}

table {
  position: sticky;
  top: 150px;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #666; /* this draws the table border  */ 
}

th {
  background-color: #666;
  border-radius: 0;
  color: white;
}

input:not(:disabled) {
  background-color: grey;
}

div:has(div:has(input:disabled)) {
  background: red;
}

input:disabled {
  cursor: not-allowed;
}

pre {
  font-size: 8pt;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.tableContainer {
  width: 100%;
}