body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.source {
  position: relative;
  font-size: 10pt;
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px;
}

.source a {
  text-decoration: underline;
  color: #999999;
}
